img {
  max-width: 100%;
  max-height: min-content;
  box-shadow: 0 0 1px grey;
}

.image-to-be-uploaded {
  max-width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 8px rgb(150, 150, 150);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
